/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: 'Roboto', sans-serif; /* Set a global font-family */
  background-color: black; /* Set a global background color */
  margin: 0; /* Reset default margin */
  line-height: 1.6; /* Set a global line-height */
}
