@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Roboto', sans-serif; /* Example: Set a global font-family */
    background-color:black;
  }
  
  

  
  .hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }